*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
:root {
	--main-color: #52503B;
}
@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), 
         url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    font-display: swap;
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), 
         url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
a{
	text-decoration: none;
}

.container{
	width: 1440px;
	margin: 0 auto;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;

}
.header{
	height: 80px;
	background: var(--main-color) ;
	display: flex;
	align-items: center;
	position: fixed;
	width: 1440px;
	z-index: 10;
}
.header .wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo img{
	height: 45px;
}
.header__menu{
	display: flex;
	justify-content: space-between;
	list-style: none;
	gap: 24px;
}
.header__menu a{
	color: #ffffff;
	font-size: 15px;
}
.header__btn {
	width: 117px;
    height: 42px;
	background: #FFFFFF;
    border-radius: 6px;
	cursor: pointer;
}
.header__btn a{
	font-size: 16px;
	color: var(--main-color);
}
.info{
	background: url(../img/bg1.jpg);
	height: 800px;
	display: flex;
}
.info .wrapper{
	text-align: center;
}
.info__title{
	margin-top: 248px;
}
.info__title img{
	width: 256px;
    height: 90px;
}
.info__subtitle {
	font-size: 48px;
	line-height: 53px;
	color: #FFFFFF;
	margin-top: 17px;
}
.info__content{
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 25px;
}
.mouse__border{
	Width:33.75px;
    Height:52.5px;
	border: 2px solid #FFFFFF;
	margin: 120px auto 0;
	border-radius: 16px;
}
.mouse__buttons{
	width: 12px;
	border: 2px solid #FFFFFF;
	transform: rotate(90deg);
	margin: 15px auto;
}
.description{
	height: 410px;
	padding: 100px 320px;
	background: #FAF8F0;
}
.block__division{
	width: 42px;
	height: 8px;
	background: #E08631;
	
}
.description .block__division, .Banner .block__division,
.sleeping .block__division, .reviews .block__division,
.bookings .block__division
{
	margin: 0 auto;
}
.text__description{
	column-count: 2;
	column-gap: 40px;
	column-width: 360px;
	Width: 770px;
	Height: 170px;
	margin: 32px auto 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
.description__btn{
	width: 107px;
	height: 42px;
	background: var(--main-color);
    border-radius: 6px;
	cursor: pointer;
}
.description__btn a{
	font-size: 14px;
	color: #FFFFFF;
}
.Banner{
	height: 568px;
	padding: 110px 76px 140px;
}
.Banner__text{
	text-align: center;
	font-size: 96px;
	line-height: 96px;
	color: var(--main-color);
	font-weight: 700;
	margin-top: 32px;
}
.bg__kitchen{
	height: 600px;
	background: url(../img/bg2.jpg);
}
.sleeping{
	height: 530px;
	background: #FAF8F0;
	padding: 100px 120px;
	color: var(--main-color);
	text-align: center;
}
.sleeping__title{
	/* text-align: center; */
	font-size: 32px;
    line-height: 36px;
   	margin-top: 30px;
}
.sleeping__subtitle{
	/* text-align: center; */
	font-weight: 400;
    font-size: 16px;
    line-height: 24px;
	width: 600px;
	height: 72px;
	margin: 12px auto;
}
.comforts{
	margin: 32px auto 0;
	display: flex;
	justify-content: space-between;
	height: 140px;
	width: 1168px;
}
.comfort{
	width: 347px;
}
.comfort__logo img{
	height: 64px;
}
.comfort_title{
	font-size: 16px;
    line-height: 24px;
	margin-top: 12px;
}
.comfort_subtitle{
	font-size: 14px;
    line-height: 20px;
}
.advantages{
	height: 726px;
	padding: 100px 120px;
	color: var(--main-color);
}
.advantages__title{
	font-size: 32px;
    line-height: 36px;
	margin-top: 30px;
}
.advantages__subtitle{
	width: 600px;
	height: 72px;
	font-size: 16px;
    line-height: 24px;
}
.our_advantages{
	width: 1168px;
	height: 336px;
	margin: 32px auto;
	display: flex;
	justify-content: space-between;
}
.advantage{
	width: 568px;
	display: flex;
	margin-bottom: 32px;
}
.advantage__logo img{
	height: 36px;
	width: 36px;
}
.advantage__text{
	margin-left: 16px;
	font-size: 14px;
    line-height: 20px;
}
.advantage__text{
	color: #333333;
}
.reviews{
	height: 682px;
	background: #FAF8F0;
	padding: 100px 120px;
	color: var(--main-color);
	position: relative;
}
.reviews__title{
	font-size: 32px;
    line-height: 36px;
    text-align: center;
	margin-top: 30px;
}
.reviews__subtitle{
	font-size: 16px;
    line-height: 24px;
    text-align: center;
	margin: 12px auto 0;
	width: 600px;
}

/* ****slides**** */
.slider {
	width: 1168px;
	height: 266.38px;;
	overflow: hidden;
}
.navigation {
	position: absolute;
	bottom: 70px;
    left: 1174px;
    transform: translateX(-50%);
	display: flex;
}
.bar {
	width: 60px;
	height: 60px;
	margin: 10px;
	cursor: pointer;
	border: 2px solid #52503B;
	border-radius: 50%;
	transition: all 0.4s ease;
}
.bar:hover {
	transform:scale(1.1);
}
.slides input[name="r"] {
	position: absolute;
	visibility: hidden;
}
.slides {
	width: 200%;
	height: 100%;
	display: flex;
	gap: 20px;
	margin-top: 32px;
}
.slide {
	width: 25%;
	transition: all 0.6s ease;
}
#r1:checked ~ .s1 {
	margin-left: 0;
}
#r2:checked ~ .s1 {
	margin-left: -25%;
}
/* *************************** */
.review{
	width: 584px;
	height: 266px;
	background: #FFFFFF;
    border: 1px solid rgba(82, 80, 59, 0.1);
    border-radius: 4px;
	padding: 31px;
}
.stars{
	height: 20px;
	font-size: 20px;
}
.review__title{
	font-size: 18px;
    line-height: 24px;
    color: #333333;
	margin: 10px 0;
}
.review__text{
	font-size: 14px;
    line-height: 20px;
    color: #333333;
	width: 506px;
	/* height: 100px; */
}
.review__userNane{
	font-size: 14px;
    line-height: 20px;
    color: #333333;
	padding-left: 10px;
	border-left: 2px solid #E08631;;
	margin-top: 19px;
}
.bg__bedrooms{
	height: 600px;
	background: url(../img/bg3.png);
}
.invitation{
	height: 336px;
	background: #FFFFFF;
	padding: 100px 136px;
	display: flex;
	justify-content: space-between;
}
.invitation__left{
	color: var(--main-color);
	width: 552px;
}
.invitation__title{
	font-size: 32px;
    line-height: 36px;
	margin-top: 30px;
}
.invitation__subtitle{
	font-size: 16px;
    line-height: 24px;
	margin-top: 12px;
}
.first__line, .second__line{
	display: flex;
	gap: 24px;
}
.second__line{
	margin-top: 32px;
}
.invitation__right{
	color: #333333;
}
.block{
	width: 260px;
	height: 67px;
	display: flex;
	gap: 16px;
}
.block__logo img{
	width: 36px;
	/* height: 36px; */
	margin: auto;
	
}
.block__text{
	font-size: 14px;
    line-height: 20px;
}
.bookings{
	height: 478px;
	background: #FAF8F0;
	color: var(--main-color);
	padding: 100px 120px;
}
.bookings__title{
	font-size: 32px;
    line-height: 36px;
    text-align: center;
	width: 533px;
    height: 108px;
	margin: 30px auto 0;
}
.bookings__subtitle{
	width: 514px;
    height: 48px;
	margin: 14px auto 0;
	font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.bookings__btn{
	margin: 14px auto 0;
	display: flex;
	gap: 20px;
    justify-content: center;
}
.btn__ight{
	width: 116px;
    height: 52px;
	border: 4px solid var(--main-color);
    border-radius: 6px;
	cursor: pointer;
}
.btn__ight a{
	font-size: 16px;
    line-height: 20px;
	color: var(--main-color);
}
.btn__dark{
	width: 133px;
    height: 52px;
	background: var(--main-color);
    border-radius: 6px;
	cursor: pointer;
	border: none;
}
.btn__dark a{
	font-size: 16px;
    line-height: 20px;
	color: #FFFFFF;
}
.footer{
	height: 608px;
	background: var(--main-color);
	padding: 100px 136px;
	color: #FFFFFF;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
}
.footer____nav, .social__media{
	width: 280px;
	height: 200px;
}
.newsletter{
	width: 576px;
	height: 200px;
}
.footer__menu{
	list-style: none;
	line-height: 29px;	
}
.footer__menu span{
	font-size: 14px;
    text-transform: uppercase;
}
.footer__menu a{
	font-size: 14px;
    margin-top: 12px;
	color: #FFFFFF;
}
.social__title{
	font-size: 14px;
    line-height: 20px;
	text-transform: uppercase;
}
.social__logo{
	margin-top: 20px;
}
.social__logo img{
	width: 32px;
	height: 32px;
	margin-right: 20px;
}
.newsletter__title{
	font-size: 14px;
    line-height: 20px;
	text-transform: uppercase;
}
.newsletter__subtitle{
	font-size: 14px;
    line-height: 20px;
}
.input__field{
	width: 100%;
	height: 52px;
	background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
	margin-top: 10px;
	padding-left: 30px;
	position: relative;
}

input[type="text"]::-moz-placeholder,
input[type="text"]::-webkit-input-placeholder {
	font-size: 14px;
    line-height: 20px;
	color: var(--main-color);
}
.submit{
	width: 61px;
	height: 30px;
	background: var(--main-color);
    border-radius: 10px;
	font-size: 14px;
    line-height: 20px;
	color: #FFFFFF;
	border: none;
	position: absolute;
	margin: 21px -70px;
	cursor: pointer;
}
.footer__logo{
	margin-top: 48px;
    text-align: center;
}
.copyright{
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.address{
	font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
	margin-top: 20px;
}

